<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive">
        <button class=" button button-clear " ng-click="cancel()">Cancel</button>
        <h1 class="title">{{op.firstname}} {{op.lastname}}</h1>
        <button class="button button-clear" ng-click="updateOp(op.$id)">Save</button>
    </ion-header-bar>
    <ion-content class="has-header">

        <ul class="list">


            <li class="item calm item-input item-stacked-label ">
                Firstname:
                <edit-in-place value="op.firstname"></edit-in-place>

            </li>

            <li class="item calm item-input item-stacked-label">
                Lastname:
                <edit-in-place value="op.lastname"></edit-in-place>
            </li>
            <!--
            <li class="item calm item-input item-stacked-label">
                Position:
                <edit-in-place value="op.position"></edit-in-place>
            </li>
            -->
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label calm">
                        Position:
                    </div>
                    <select ng-model="op.position" ng-options="position as position.title for position in positions">
                        <option value="" selected>Choose position/trade.</option>
                    </select>
                </label>
            </div>

            <!--<button class="button button-assertive button-block" ng-click="deleteItem(item.$id)" onclick="return confirm('Are you sure?');">Delete</button>-->


    </ion-content>
</ion-modal-view>