<form name="form" novalidate>
    <ion-modal-view style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">

        <ion-header-bar class="bar bar-header bar-positive">
            <button class=" button button-clear " ng-click="cancel()">Cancel</button>
            <h1 class="title">Add Record</h1>
            <button class="button button-clear" ng-click="addOp()" ng-disabled="form.$invalid">Done</button>
        </ion-header-bar>

        <ion-content has-header="true" padding="true">

            <div class="list">

                <label class="item item-input">Current project: {{currentUser.project}}
                </label>
                <label class="item item-input">
                    <span class="input-label calm">Description:</span>

                    <input type="text" name="firstname" placeholder="" ng-model="record.description" required>
                </label>
                <label class="item item-input">
                    <span class="input-label calm">Details:</span>

                    <textarea style="width:65%;" type="text" name="notes" placeholder="" ng-model="record.details"></textarea>
                </label>
                <ion-item> <button class="button button-small button-positive" ng-click="startTimer()" ng-disabled="running">Start</button><button class="button button-small button-assertive right" ng-click="stopTimer()">Stop</button></ion-item>
               
                {{record.start | date: "h:mm:ss"}}
                {{timer | date: "h:mm:ss"}}


            </div>



        </ion-content>
    </ion-modal-view>
</form>