<form>
    <ion-view id="item">
        <ion-nav-title>
            {{selected.name}}
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="editItem(selected.$id)">Edit</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="myGoBack()">Back</button>
        </ion-nav-buttons>

        <ion-content padding="false" class="has-header">
            <ul class="list">
                <li class="item calm">
                    Plant Item Name:<span class="item-note dark">{{selected.name}}</span>
                </li>

                <li class="item calm">
                    Plant Serial Number:<span class="item-note dark">{{selected.serial}}</span>
                </li>

                <li class="item calm">
                    Hire Company:<span class="item-note dark">{{selected.hire}}</span>
                </li>

                <li class="item calm">
                    Plant Category:<span class="item-note dark">{{selected.category}}</span>
                </li>

                <li class="item calm">
                    Result of Inspection:<span class="item-note dark">{{selected.inspectionComment}}</span>
                </li>

                <li class="item calm">
                    Hire start date:<span class="item-note dark">{{selected.hirestart | date:'dd-MMMM-yyyy'}}</span>
                </li>

                <li class="item calm">
                    Hire end date:<span class="item-note dark">{{selected.hireend | date:'dd-MMMM-yyyy'}}</span>
                </li>


                <li class="item calm">
                    Order Number:<span class="item-note dark">{{selected.orderNumber}}</span>
                </li>

                <div class="card">
                    <div class="item item-divider">
                        Notes:
                    </div>
                    <div class="item item-text-wrap">
                        {{selected.notes}}
                    </div>
                </div>

            </ul>
        </ion-content>
    </ion-view>
</form>